html {
  font-size: 62.5%;
}

:root {
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
}

h1 {
  font-size: 1.5rem;
}
a {
  color: lightblue;
  text-decoration: dotted;
}

a:hover {
  color: white;
  text-decoration: underline;
}
